<section id="section-login" class="section">
   <div class="container">
      <div class="row">
         <div class="col s12">
            {{#if title}}
               <h3 class="title">{{title}}</h3>
               <hr>
            {{/if}}
         </div>
      </div>
      <div class="row">
         <div class="col s12">
            <p>
               Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quae nisi vitae ex. Quos, eius laborum harum, recusandae dolores similique aut quod pariatur consectetur natus dolor, velit deleniti numquam itaque eos! Nemo cupiditate ex deleniti reprehenderit, alias possimus officia nobis soluta. Eveniet earum amet veniam modi! Magnam, animi tempora vero ipsam voluptate nulla, eum voluptas facilis consequuntur beatae culpa aliquam repellat quis hic optio, officiis ducimus expedita voluptatibus atque ratione. Assumenda repudiandae cupiditate perferendis quisquam ullam amet nemo enim neque, rerum cum perspiciatis, quod nam reprehenderit, tenetur animi inventore quae? Blanditiis facere consequatur repudiandae quod ipsam earum dolore numquam officiis!Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus officia, neque repellendus eum magni modi provident nesciunt distinctio autem officiis illo ducimus, alias earum consequuntur repudiandae vitae error. Aut aspernatur omnis corrupti. Quos eos, magni tempora debitis ut voluptatem inventore non exercitationem sequi saepe illo, aliquid ullam facere, perspiciatis ea!
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus officia, neque repellendus eum magni modi provident nesciunt distinctio autem officiis illo ducimus, alias earum consequuntur repudiandae vitae error. Aut aspernatur omnis corrupti. Quos eos, magni tempora debitis ut voluptatem inventore non exercitationem sequi saepe illo, aliquid ullam facere, perspiciatis ea!</p>
         </div>
      </div>
      <hr>
      <div class="row">
         <div class="col s12">
            <footer class="footer center">
               <p class="flow-text"><strong><a href="/home">Eminence</a></strong> All Right Reserved to MA.Rooney</p>
            </footer>
         </div>
      </div>
   </div>
</section>