<section id="section-error" class="section">
   <div class="container">
      <div class="row">
         <div class="col s12">
            {{#if title}}
               <h3 class="title red-text text-darken-2">{{title}}</h3>
            {{/if}}
         </div>
      </div>
      <div class="row">
         <div class="col s12">
            {{#if message}}
               <span>{{message}}</span>
            {{/if}}
         </div>
      </div>
   </div>
</section>