<header id="main-header" class="header-container">
   <div class="video-wrapper">
      <video src="/videos/clip_2.mp4" autoplay="true" loop="true" muted="true"></video>
   </div>
   <!--Video Wrapper Ends Here!!-->
   <div class="header-overlay"></div>
   <!--Header-Overlay Ends Here!!-->
   <div class="header-content valign-wrapper center">
      <div class="content-inner left-align">
         <h1 class="header-heading">Let's Enjoy Cheap Travel on<br> Eminence</h1>
         <p class="hide-on-small-and-down">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda mollitia labore iusto similique. Error, ipsum repellat? Molestias, saepe ducimus quod labore harum, accusantium error et mollitia possimus impedit, nisi sit!
         </p>
         <a href="#!" class="btn waves-effect waves-light red darken-2">LEARN MORE</a>
      </div>
   </div>
     <!--Header-Content Ends Here!!-->
</header>
<!--Header Ends Here!!-->